/* src/styling/products/plasticcard3d.css */

.pc3d {
    width: 100%;
    height: 520px;
    cursor: grab;
}

.pc3d:active {
    cursor: grabbing;
}

.pc3d canvas {
    width: 100% !important;
    height: 100% !important;
    display: block;
}

@media (max-width: 560px) {
    .pc3d {
        height: 360px;
    }
}