/* Buttons */
.blue-button-login {
  background-color: #0081FF;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 0.2s ease;
}

.blue-button-login:hover {
  background-color: #006edc;
  box-shadow: 0px 4px 12px rgba(0, 129, 255, 0.3);
  cursor: pointer;
}

.blue-button-login:active {
  background-color: #006edc;
  transform: scale(0.98);
  box-shadow: 0px 2px 8px rgba(0, 129, 255, 0.5);
}

.blue-button {
  background-color: #0081FF;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: white;
  transition: all 0.2s ease;
}

.blue-button:hover {
  background-color: #006edc;
  box-shadow: 0px 4px 12px rgba(0, 129, 255, 0.3);
  cursor: pointer;
}

.blue-button:active {
  background-color: #006edc;
  transform: scale(0.98);
  box-shadow: 0px 2px 8px rgba(0, 129, 255, 0.5);
}

.black-button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: #0081FF;
  width: fit-content;
  border: 2px solid #0081FF;
  transition: all 0.2s ease;
}

.black-button:hover {
  background-color: #f0f8ff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.black-button:active {
  background-color: #e0f0ff;
  transform: scale(0.98);
  box-shadow: 0px 2px 8px rgba(0, 129, 255, 0.5);
}

.cta-blue-button {
  background-color: #0081FF;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: white;
  transition: all 0.2s ease;
}

.cta-blue-button:hover {
  background-color: #006edc;
  box-shadow: 0px 4px 12px rgba(0, 129, 255, 0.3);
  cursor: pointer;
}

.cta-blue-button:active {
  background-color: #006edc;
  transform: scale(0.98);
  box-shadow: 0px 2px 8px rgba(0, 129, 255, 0.5);
}

.cta-black-button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: #0081FF;
  border: 2px solid #0081FF;
  transition: all 0.2s ease;
}

.cta-black-button:hover {
  background-color: #f0f8ff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.cta-black-button:active {
  background-color: #e0f0ff;
  transform: scale(0.98);
  box-shadow: 0px 2px 8px rgba(0, 129, 255, 0.5);
}

.black-button-subscribe {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: #0081FF;
  width: fit-content;
  border: 2px solid #0081FF;
  transition: all 0.2s ease;
}

.black-button-subscribe:active {
  background-color: #e0f0ff;
  transform: scale(0.98);
  box-shadow: 0px 2px 8px rgba(0, 129, 255, 0.5);
}

@media (max-width: 1000px) {
  .cta-center-text {
    width: 100%;
    flex-direction: column;
    align-items: stretch;
    gap: 5px;
    margin-top: 20px;
    box-sizing: border-box;
  }

  .cta-center-text .desktop-button {
    width: 100%;
    text-align: center;
  }

  .black-button {
    min-width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .blue-button {
    min-width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
  }
}

/* --- BREADCRUMBS --- */
.breadcrumb-nav {
  font-size: 14px;
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-bottom: 20px;
}

.breadcrumb-link {
  color: #0081FF;
  text-decoration: none;
}

.breadcrumb-link:hover {
  text-decoration: underline;
}

.breadcrumb-current {
  color: #333;
  font-weight: 500;
}

.section-breadcrumbs {
  max-width: 1040px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .section-breadcrumbs {
    max-width: 900px;
    margin: 0 auto;
  }
}

@media (max-width: 1000px) {
  .section-breadcrumbs {
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 800px) {
  .breadcrumb-nav {
    padding: 0 10px;
  }
}